@media (max-width: 768px) {
    
    .navbar-toggler {
      display: block;
    }
    .navbar-collapse {
      display: none;
    }
    .navbar-collapse.show {
      display: block;
    }
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
  }